[client]
port = 3306
socket = /run/mysqld/mysqld.sock

[mysqld]
port = 3306
socket = /run/mysqld/mysqld.sock
datadir = /data/mysql/mysql-data

# Import all .cnf files from configuration directory
!includedir /etc/mysql/conf.d/
!includedir /etc/mysql/mariadb.conf.d/

[mysqld_safe]
log-error = /home/mysql/log/error/mysql.err